.container {
  position: relative;
}
.sideBar.opened {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  max-height: 100vh;
  border-right: 1px solid var(--primary-500);
}

.sideBar.closed {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100vh;
  max-height: 100vh;
  border-right: 1px solid var(--primary-400);
}
