.container {
  position: relative;
}
.sideBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  max-height: 100vh;
  background-color: var(--primary-100);
  border-right: 1px solid var(--primary-400);
}
